---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Solana Colombia</title>
		<meta name="description" content="Tu comunidad Solana en Colombia. Comparte, aprende y construye en un espacio abierto y colaborativo." />
	</head>
	<body class="bg-gray-50">
		<Header />
		
		<main>
			<Hero />
			<Features />
		</main>
	</body>
</html>
