<div class="max-w-2xl mx-auto mt-8 p-0 mb-0">
  <script async src="https://eocampaign1.com/form/00c08cb8-7fa1-11f0-87bc-a5bbd5c6ff60.js" data-form="00c08cb8-7fa1-11f0-87bc-a5bbd5c6ff60"></script>
</div>