---
const { url } = Astro.props;
---

<div class="flex justify-center items-center mt-10 mb-12 gap-4">
  {
    url.prev && (
      <a
        class="bg-neutral-100 px-5 py-2 rounded-md hover:bg-neutral-200 transition"
        href={url.prev}
        title="Ir a Anterior"
      >
        &larr; Anterior
      </a>
    )
  }
  {
    url.next && (
      <a
        class="bg-neutral-100 px-5 py-2 rounded-md hover:bg-neutral-200 transition"
        href={url.next}
        title="Ir a Siguiente"
      >
        Siguiente &rarr;
      </a>
    )
  }
</div>
